@layer dark {
  :where(.dark) {
    --text-primary: var(--gray-50);
    --text-secondary: var(--gray-300);
    --text-muted: var(--gray-500);

    --surface-primary: var(--gray-950);
    --surface-secondary: var(--gray-900);

    --border-default: var(--gray-800);

    --action-primary: var(--gray-200);
    --action-primary-hover: var(--gray-100);
  }
}
